{% extends 'base.html' %} {% load widget_tweaks %} {% block content %}

<main class="container">
  <div class="row">
    <div class="col-md-6 mt-5 col-sm-9 col-lg-4 m-auto">
      {% comment "" %}al poner signup, va a buscar en las url una url que se
      llame asi, pero lanzara un error si no lo encuentra, si la ruta a donde va
      a enviar los datos es la misma, simplemente no pongo el action, y el
      metodo del form sera POST para que se envien los datos de forma oculta
      {% endcomment %}
      <form action="/signup/" method="POST" class="card card-body">
        <h1 class="text-center">Registrarse</h1>
        {% comment "" %}Mostrando si hay un error{% endcomment %} {% comment %}
        {{error}} {% endcomment %} {% comment "" %} Llamo al formulario que le
        pase en el render y con as_p los meto en etiquetas p para más orden 
        {% endcomment %} {% comment "" %}Esto creara un token para verificar que
        este formulario fue creado por nuestro servidor y no haya suplantacion
        {% endcomment %} {% csrf_token %}
        <div class="mb-3">
          <label for="username">Nombre de usuario: </label>
          {{form.username|add_class:'form-control'|attr:'placeholder:Escribe tu nombre de usuario'}}
        </div>

        <div class="mb-3">
          <label for="password1">Contraseña: </label>
          {{form.password1|add_class:'form-control'|attr:'placeholder:Escribe tu contraseña'}}
        </div>

        <div class="mb-3">
          <label for="password2">Confirma tu contraseña: </label>
          {{form.password2|add_class:'form-control'|attr:'placeholder:Confirma la contraseña'}}
        </div>
        <button type="submit" class="btn btn-primary">Registrarse</button>
      </form>
    </div>
  </div>
</main>
{% endblock content %}
{% block js %}
<script>
{% if form.errors %}
errors='<ul style="list-style-type:none;padding:0;">'
{% for field in form %}
{% for error in field.errors %}
errors+='<li>{{error}}</li>'
{% endfor %}
{% endfor %}
errors+='</ul>'
Swal.fire({
  icon: 'error',
  title: 'Oops...',
  html: errors
})
{% endif %}
</script>
{% endblock js %}
